*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  padding: 1rem 2rem;
}

.navigation.hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.navigation ul {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a,
.list-item a {
  color: white;
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.navigation a:focus,
.navigation a:hover,
.list-item a:hover {
  color: orange;
  background-color: transparent;
  transform: scale(1.1); /* Phóng to một chút */
  opacity: 0.8;
}

body,
html {
  margin: 0;
  padding: 0;

  overflow-x: hidden;
  overflow-y: hidden;
}
.container {
  padding-top: 80px;

  scroll-snap-type: y mandatory;

  overflow-y: scroll;
  height: 100vh;
  padding-top: 0;
}
/* Ẩn thanh cuộn */
.container::-webkit-scrollbar {
  display: none;
}

.slide {
  scroll-snap-align: start;
  min-height: 105vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  /* padding: 2rem; */
}
#slide1 {
  margin-bottom: -1em;
}

.about-section {
  font-family: Arial, sans-serif;
  width: 80%;
  margin-top: 5%;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 28em;
  width: 26em;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.highlight {
  color: orange;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  color: white;
  margin-bottom: 16px;
}

.icon {
  font-size: 1.5rem;
  margin-right: 12px;
}

.service-icon {
  color: blue;
}

.project-icon {
  color: green;
}

.customer-icon {
  color: yellow;
}

.contact-icon {
  color: red;
}
/* Định dạng nút chuyển ngôn ngữ */
.language-toggle {
  background: transparent;
  border: 1px solid white;
  cursor: pointer;
  font-size: x-small;
  font-weight: 100;
  color: white;
  padding: 2px;
  border-radius: 5px;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.language-toggle:hover {
  background-color: #f3f3f3;
  color: #ff6600;
}

.language-toggle .language.active {
  color: #ff6600;
  font-weight: bold;
}
.language {
  padding: 4px;
}
.container-slide3 {
  margin-right: 4em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 4em;
}

.yg-team,
.description-team {
  flex: 1; /* Mỗi div chiếm không gian tương đối bằng nhau */
  max-width: 48%; /* Giới hạn chiều rộng mỗi div (đảm bảo không vượt quá 50%) */
  margin: 0; /* Xóa khoảng cách thừa */
}

.yg-team h1,
.yg-team h2,
.yg-team p,
.description-team h2,
.description-team p {
  margin-bottom: 36px;
  line-height: 1.6;
}

.yg-team h1 {
  font-size: 4rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  margin-bottom: -1.5em;
}

.yg-team .big-sign {
  font-size: 14rem;
  font-weight: bold;
  color: #fa8500;
  margin-bottom: -72px;
}

.yg-team p {
  font-weight: bold;
  font-style: italic;
}

.description-team p {
  text-align: justify; /* Canh đều hai bên văn bản */
}

.yg-team {
  margin-left: 5em;
  margin-right: -5em;
  text-align: justify;
}

.description-team {
  margin-top: 2em;
}

.title-text {
  text-align: left;
  text-align: left;
  font-size: xx-large;
  color: #fa8500;
}

.slide4-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  text-align: center;
  margin-top: 5em;
}

/* Div 1: Đoạn chữ mô tả */
.slide4-description p {
  font-size: 1.25rem;
  line-height: 1.6;
  color: white;
  max-width: 47em;
}

/* Div 2: Bốn ô vuông nằm ngang */
.four-boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Cho phép ô vuông xuống hàng trên màn hình nhỏ */
  gap: 1rem;
}

.box:hover {
  transform: scale(1.1) translateY(-10px); /* Phóng to và nhấc lên */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.box-container {
  gap: 2em;
  color: white;
  display: flex;
  justify-content: center;
  text-align: left;
}

.commitment p {
  font-size: 1.25rem;
  line-height: 1.6;
  color: white;
  max-width: 800px;
}
.slide4-description p,
.commitment p,
.description-team p {
  font-size: 15px;
}

.box i {
  font-size: 2.5rem;
  color: #fa8500;
  margin-bottom: 10px;
}

.box-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fa8500;
  margin-bottom: 8px;
}

.box-description {
  font-size: 1rem;
  color: white;
  line-height: 1.4;
}
.box {
  background-color: #222222;
  width: 250.16px;
  padding: 2em;
  border-radius: 10px;
}
/* 
/* slide6 */
.slide6-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #f8f9fa; */
  padding: 40px 20px;
  /* margin-bottom: 10em; */
}

.slide6-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #fa8500;
  margin-bottom: 16px;
  text-align: center;
}

.slide6-description {
  margin-bottom: 64px;
  text-align: center;
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
  width: 100%;
  max-width: 1200px;
  justify-items: center;
}

.logo-item img {
  width: 100px;
  height: auto;
  filter: grayscale(1);
  transition:
    filter 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.logo-item img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.slideshow-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.swiper {
  margin: 0;
  width: 80%;
  margin: 0 !important;
}

.swiper-wrapper {
  cursor: default !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  height: 400px !important;
  width: auto !important;
  aspect-ratio: 16/9;
}

.swiper-slide video {
  display: block;
  height: 100%;
}
#slide1 video {
  max-height: 100%;
  width: 100%;
  max-width: 5000px;
  height: auto;
  object-fit: cover;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 2.5rem;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  padding-block: 1rem;
  padding-inline: 1.5rem;
}
.contact {
  display: flex;
  gap: 6em;
  width: 75%;
  margin-top: 2em;
  box-sizing: border-box;
  margin-left: 12%;
}
/* .inf {
    flex: 2;
  } */
.contact .inf,
.contact .contact-form {
  display: inline-grid;
  text-align: left;
}
/* .contact-form {
    flex: 1;
  } */
.contact-form,
.inf {
  font-weight: 300;
}
.item-contact {
  display: flex;
  gap: 1em;
  margin-bottom: -6px;
}
.item-contact span {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 0;
}
.item-contact i {
  width: 10%;
  color: #fa8500;
}
.inf h1 {
  font-size: 4em;
  color: #fa8500;
}

.include-contact-form h2 {
  font-weight: 500;
  padding: 1em;
}
.contact .inf {
  max-width: 50%;
}
a {
  text-decoration: none;
}
.contact-form {
  background-color: white;
  color: black;
  border-radius: 7px;
  width: 30%;
}

.div-class {
  border-bottom: 1px solid #fa8500;
  height: 0;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.social-icons {
  align-items: center;
  display: flex;
  gap: 2.5em;
}
.social-icons i {
  width: 40%;
  height: 40%;
}
.social-icons strong {
  width: 9em;
}
.rights {
  height: 1em;
  margin-top: 1.5em;
  color: darkgray;
}
.hotline span,
.email span,
.address span {
  display: block;
  align-items: center;
}

.fa-facebook-f,
.fa-whatsapp,
.fa-youtube,
.fa-phone,
.fa-envelope,
.fa-map-marker-alt {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  /* background-color: #3b5998; */
  color: white;
}
.contact-form h2 {
  color: #fa8500;
}

.contain-input input {
  background-color: #ff8500;
  color: white;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  margin-top: 9px;
  width: 100%;
  text-decoration: none;
}
.contain-input {
  width: 90%;
  margin-left: 5%;
}

.contain-input input::placeholder {
  color: white;
  padding-left: 5px;
}

.contain-input input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 133, 0, 0.8);
  text-decoration: none;
}

#message {
  height: 13px;
  background-color: #ff8500;
  color: white;
  border: none;
  outline: non;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
  resize: vertical;
  width: 100%;
  min-height: 34.5px;
  box-sizing: border-box;
  margin-top: 9px;
  text-decoration: none;
}

#message::placeholder {
  color: white;
  padding-left: 5px;
}

#message:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 133, 0, 0.8);
  text-decoration: none;
}

.form-button {
  padding: 1em;
  width: 10%;
  text-decoration: underline;
  text-decoration-color: #ff8500;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
}

.contain-input input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
.rights img {
  height: 8em;
  margin-top: -2em;
}

/* CSS for fade-in effect */
.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.7s ease-out,
    transform 0.7s ease-out;
}

/* Class to apply when element is in viewport */
.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.social-icons a i,
.social-icons a img {
  font-size: 24px; /* Giữ kích thước biểu tượng không thay đổi */
  width: 40px; /* Cố định chiều rộng cho icon */
}

.slide-project {
  margin-top: -1em;
  padding: 0.5em;
  color: #fa8500;
}

.slide-span-project {
  margin-top: 2em;
}
