---
import Layout from "../layouts/Layout.astro";
import AboutUs from "../components/aboutUs.astro";
import Text from "../components/text.astro";
import Service from "../components/service.astro";
import Client from "../components/client.astro";
import ContactUs from "../components/contactUs.astro";
import Project from "../components/Project.astro";
import Nav from "../components/nav.astro";
---

<Layout title="Landing Page">
  <div class="container">
    <img
      class="imgNav"
      src="/media/icon/logo.svg"
      alt="Logo"
      width="70"
      height="70"
    />
    <nav id="navigation" class="navigation hidden">
      <ul>
        <li><a href="#slide2">Trang chủ</a></li>
        <li><a href="#slide3">Về chúng tôi</a></li>
        <li><a href="#slide4">Dịch vụ</a></li>
        <li><a href="#slide5">Dự án</a></li>
        <li><a href="#slide6">Khách hàng</a></li>
        <li><a href="#slide7">Liên hệ</a></li>
        <li>
          <button id="language-toggle" class="language-toggle">
            <span class="language">VI</span> | <span class="language">EN</span>
          </button>
        </li>
      </ul>
    </nav>

    <Nav />

    <section id="slide1" class="slide">
      <video
        autoplay
        muted
        loop
        playsinline
        class="w-[100%] h-[100%] object-cover"
        style="max-height: 100%; width: auto; object-fit: cover;"
      >
        <!-- //chỗ này  -->
        <source src="/media/logo-fix-5.mp4" type="video/mp4" />
      </video>
    </section>

    <section id="slide2" class="slide">
      <AboutUs />
    </section>

    <section id="slide3" class="slide" style="background: grey;">
      <Text />
    </section>

    <section id="slide4" class="slide" style="background: blue;">
      <Service />
    </section>

    <section id="slide5" class="slide" style="background: purple;">
      <Project />
    </section>

    <section id="slide6" class="slide" style="background: #8D33FF;">
      <Client />
    </section>

    <section id="slide7" class="slide" style="background: grey;">
      <ContactUs />
    </section>
  </div>
</Layout>
