---
import Layout from "../layouts/Layout.astro";
import AboutUs from "../components/aboutUs.astro";
import Text from "../components/text.astro";
import Service from "../components/service.astro";
import Client from "../components/client.astro";
import ContactUs from "../components/contactUs.astro";
import Project from "../components/Project.astro";
import Nav from "../components/nav.astro";
---

<Layout title="Landing Page">
  <div class="container">
    <img
      class="imgNav"
      src="/media/icon/logo.svg"
      alt="Logo"
      width="70"
      height="70"
    />
    <nav id="navigation" class="navigation hidden">
      <ul>
        <li><a href="#slide2">Trang chủ</a></li>
        <li><a href="#slide3">Về chúng tôi</a></li>
        <li><a href="#slide4">Dịch vụ</a></li>
        <li><a href="#slide5">Dự án</a></li>
        <li><a href="#slide6">Khách hàng</a></li>
        <li><a href="#slide7">Liên hệ</a></li>
        <li>
          <button id="language-toggle" class="language-toggle">
            <span class="language">VI</span> | <span class="language">EN</span>
          </button>
        </li>
      </ul>
    </nav>

    <Nav />

    <section id="slide1" class="">
      <div
        id="slide1d"
        class="slided slidetop"
        style="position: relative; overflow: hidden; width: 100%;scroll-snap-align: end;"
      >
        <video
          autoplay
          muted
          loop
          playsinline
          class="w-[100%] h-[100%] object-cover"
          style="position: absolute; max-height: 100%; max-width: 100%; left: 0; top: 0; right: 0; bottom: 0; color: transparent; object-fit:cover"
        >
          <!-- //chỗ này  -->
          <source src="/media/logo-fix-5.mp4" type="video/mp4" />
        </video>
      </div>
      <div
        style="position: relative; height: 600px; overflow: hidden; width: 100%; top:0"
        class="div-mobile-image"
      >
        <img
          src="/media/banner-mobile.svg"
          style="position: absolute; height: 100%; width: 100%; left: 0; top: 0; right: 0; bottom: 0; color: transparent; object-fit:cover"
          srcset="
        /media/icon/banner-mobile.svg 32w,
        /media/icon/banner-mobile.svg 64w,
        /media/icon/banner-mobile.svg 128w,
        /media/icon/banner-mobile.svg 256w,
        /media/icon/banner-mobile.svg 384w,
        /media/icon/banner-mobile.svg 480w,
        /media/icon/banner-mobile.svg 640w,
        /media/icon/banner-mobile.svg 768w,
        /media/icon/banner-mobile.svg 960w,
        /media/icon/banner-mobile.svg 1024w,
        /media/icon/banner-mobile.svg 1199w
      "
          sizes="(max-width: 600px) 100vw, (max-width: 1200px) 50vw, 33vw"
          alt="A responsive image"
          class="mobile-image"
        />
      </div>
    </section>

    <section id="slide2" class="slide">
      <AboutUs />
    </section>

    <section id="slide3" class="slide" style="background: grey;">
      <Text />
    </section>

    <section id="slide4" class="slide" style="background: blue;">
      <Service />
    </section>

    <section id="slide5" class="slide" style="background: purple;">
      <Project />
    </section>

    <section id="slide6" class="slide" style="background: #8D33FF;">
      <Client />
    </section>

    <section id="slide7" class="slide slide-final">
      <ContactUs />
    </section>
  </div>
</Layout>
