<section class="about-section">
    <h1 class="title">
      Về <span class="highlight">chúng tôi</span>
    </h1>
    <ul class="list">
      <li class="list-item">
        <i class="fas fa-cogs icon service-icon"></i>
        <a href="#slide4" class="service-link">Dịch vụ</a>
      </li>
      <li class="list-item">
        <i class="fas fa-project-diagram icon project-icon"></i>
        <a href="#slide5" class="project-link">Dự án</a>
      </li>
      <li class="list-item">
        <i class="fas fa-users icon customer-icon"></i>
        <a href="#slide6" class="customer-link">Khách hàng</a>
      </li>
      <li class="list-item">
        <i class="fas fa-envelope icon contact-icon"></i>
        <a href="#slide7" class="contact-link">Liên hệ</a>
      </li>
    </ul>
  </section>
  