<section class="about-section fade-in-section">
  <a class="title fade-in-section" href="#slide3" style="color: white;">
    Về <span class="highlight">Chúng Tôi</span>
  </a>
  <ul class="list fade-in-section">
    <li class="list-item">
      <div>
        <i
          id="fa-solid"
          class="fa-solid fa-hand-holding-heart"
          style="color: #ec6629;margin-right: -3px;"></i>
      </div>
      <a href="#slide4" class="service-link">DỊCH VỤ</a>
    </li>
    <li class="list-item">
      <div>
        <i
          id="fa-solid"
          class="fa-solid fa-lightbulb"
          style="color: #ec6629; margin-right:4px"></i>
      </div>
      <a href="#slide5" class="project-link">DỰ ÁN</a>
    </li>
    <li class="list-item">
      <div>
        <i
          id="fa-solid"
          class="fa-solid fa-people-group"
          style="color: #ec6629;margin-right: -6px;"></i>
      </div>
      <a href="#slide6" class="customer-link">KHÁCH HÀNG</a>
    </li>
    <li class="list-item">
      <div>
        <i id="fa-solid" class="fa-solid fa-phone-volume" style="color: #ec6629"
        ></i>
      </div>
      <a href="#slide7" class="contact-link">LIÊN HỆ</a>
    </li>
  </ul>
</section>
