<div class="slide6-container">
  <div class="slide6-content">
    <h2 class="slide6-title">Khách hàng</h2>
    <p class="slide6-description">
      Chúng tôi tự hào đồng hành cùng các đối tác hàng đầu trong nhiều lĩnh vực:
      <br /><strong
        >FMCG, Food & Beverages, Giáo dục, Dược & Mỹ Phẩm, Bất Động Sản, Điện Tử
        Tiêu Dùng, Ô tô, Tài Chính...</strong
      >
    </p>
    <div class="logo-grid">
      <div class="logo-item"><img src="logo1.png" alt="Logo Đối Tác 1" /></div>
      <div class="logo-item"><img src="logo2.png" alt="Logo Đối Tác 2" /></div>
      <div class="logo-item"><img src="logo3.png" alt="Logo Đối Tác 3" /></div>
      <div class="logo-item"><img src="logo4.png" alt="Logo Đối Tác 4" /></div>
      <div class="logo-item"><img src="logo5.png" alt="Logo Đối Tác 5" /></div>
      <div class="logo-item"><img src="logo6.png" alt="Logo Đối Tác 6" /></div>
      <div class="logo-item"><img src="logo7.png" alt="Logo Đối Tác 7" /></div>
      <div class="logo-item"><img src="logo8.png" alt="Logo Đối Tác 8" /></div>
      <div class="logo-item"><img src="logo9.png" alt="Logo Đối Tác 9" /></div>
      <div class="logo-item">
        <img src="logo10.png" alt="Logo Đối Tác 10" />
      </div>
      <div class="logo-item">
        <img src="logo11.png" alt="Logo Đối Tác 11" />
      </div>
      <div class="logo-item">
        <img src="logo12.png" alt="Logo Đối Tác 12" />
      </div>
      <div class="logo-item">
        <img src="logo13.png" alt="Logo Đối Tác 13" />
      </div>
      <div class="logo-item">
        <img src="logo14.png" alt="Logo Đối Tác 14" />
      </div>
      <div class="logo-item">
        <img src="logo15.png" alt="Logo Đối Tác 15" />
      </div>
      <div class="logo-item">
        <img src="logo16.png" alt="Logo Đối Tác 16" />
      </div>
      <div class="logo-item">
        <img src="logo17.png" alt="Logo Đối Tác 17" />
      </div>
      <div class="logo-item">
        <img src="logo18.png" alt="Logo Đối Tác 18" />
      </div>
      <div class="logo-item">
        <img src="logo19.png" alt="Logo Đối Tác 19" />
      </div>
      <div class="logo-item">
        <img src="logo20.png" alt="Logo Đối Tác 20" />
      </div>
      <div class="logo-item">
        <img src="logo21.png" alt="Logo Đối Tác 21" />
      </div>
      <div class="logo-item">
        <img src="logo22.png" alt="Logo Đối Tác 22" />
      </div>
      <div class="logo-item">
        <img src="logo23.png" alt="Logo Đối Tác 23" />
      </div>
      <div class="logo-item">
        <img src="logo24.png" alt="Logo Đối Tác 24" />
      </div>
    </div>
  </div>
</div>
