<div class="contact fade-in-section">
  <!-- Phần bên trái: Thông tin liên hệ -->
  <div class="inf">
    <h1>Liên hệ</h1>
    <div class="item-contact">
      <i class="fa-solid fa-phone"></i>
      <span>
        Hotline<br />
        <strong>(+84) 377 711 139</strong>
      </span>
    </div>
    <div class="div-class"></div>

    <div class="item-contact">
      <i class="fas fa-envelope" aria-hidden="true"></i>
      <span>
        Email<br />
        <strong>YGAGENCY@gmail.com</strong>
      </span>
      <div class="div-class"></div>
    </div>
    <div class="div-class"></div>

    <div class="item-contact">
      <i class="fas fa-map-marker-alt" style="width:13%" aria-hidden="true"></i>
      <span>
        Địa chỉ<br />
        <strong>288/10 Nguyễn Văn Đậu, Bình Thạnh, TP. Hồ Chí Minh</strong>
      </span>
    </div>
    <div class="div-class"></div>

    <div class="social-icons">
      <strong>Theo dõi chúng tôi</strong>
      <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://zalo.me" target="_blank" aria-label="Zalo">
        <img
          src="/media/icon/zalowhite.svg"
          alt="Zalo"
          width="40"
          height="40"
        />
      </a>

      <a href="https://www.whatsapp.com" target="_blank" aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>
      <a href="https://www.youtube.com" target="_blank" aria-label="YouTube">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>

  <!-- Phần bên phải: Form liên hệ -->
  <div class="contact-form">
    <div class="include-contact-form">
      <h2>Thông tin liên hệ</h2>
      <form action="/submit-contact" method="POST">
        <div class="contain-input">
          <label for="name">Tên</label><br />
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Nhập tên của bạn"
            required
          />
        </div>
        <br />
        <div class="contain-input">
          <label for="phone">Điện thoại</label><br />
          <input
            type="tel"
            id="phone"
            name="phone"
            placeholder="Nhập số điện thoại"
            pattern="[0-9]{10,11}"
            required
          />
        </div>
        <br />
        <div class="contain-input">
          <label for="email">Email</label><br />
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Nhập địa chỉ email"
            required
          />
        </div>
        <br />
        <div class="contain-input">
          <label for="message">Lời nhắn</label><br />
          <textarea
            id="message"
            name="message"
            rows="5"
            placeholder="Nhập lời nhắn của bạn"
            required></textarea>
        </div>
        <!-- <br /> -->
        <button class="form-button" type="submit">Gửi</button>
      </form>
    </div>
  </div>
</div>

<!-- Phần bản quyền -->
<div class="rights fade-in-section">
  <p>© 2024 YG. All rights reserved.</p>
  <img
    src="/media/icon/timthumb.png"
    alt="thong-bao-cong-thuong"
    loading="lazy"
  />
</div>

<!-- //dùng chi Ipad mobile  -->
<!-- //contact form cho ipad  -->
<div class="contact-form mobile">
  <div class="include-contact-form mobile">
    <h2>Thông tin liên hệ</h2>
    <form action="/submit-contact" method="POST">
      <div class="contain-input mobile">
        <label for="name">Tên</label><br />
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Nhập tên của bạn"
          required
        />
      </div>
      <br />
      <div class="contain-input mobile">
        <label for="phone">Điện thoại</label><br />
        <input
          type="tel"
          id="phone"
          name="phone"
          placeholder="Nhập số điện thoại"
          pattern="[0-9]{10,11}"
          required
        />
      </div>
      <br />
      <div class="contain-input mobile">
        <label for="email">Email</label><br />
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Nhập địa chỉ email"
          required
        />
      </div>
      <br />
      <div class="contain-input mobile">
        <label for="message">Lời nhắn</label><br />
        <textarea
          id="message"
          name="message"
          rows="5"
          placeholder="Nhập lời nhắn của bạn"
          required></textarea>
      </div>
      <!-- <br /> -->
      <button class="form-button" type="submit">Gửi</button>
    </form>
  </div>
</div>

<footer class="page-container">
  <div class="contact-us-mobile">
    <div class="include-information-footer">
      <div class="include-information-company">
        <div>
          <h3 id="contact-title">Liên hệ</h3>
          <div class="line-footer"></div>
          <div class="item-contact-mobile">
            <i class="fa-solid fa-phone"></i>
            <a href="tel:+84377711139" class="hotline"
              >Hotline: (+84) 377 711 139</a
            >
          </div>
        </div>
        <div class="item-contact-mobile">
          <i class="fas fa-envelope" aria-hidden="true"></i>
          <span> Email: YGAGENCY@gmail.com </span>
        </div>
        <div class="item-contact-mobile">
          <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
          <span id="contact-address">
            Địa chỉ: 288/10 Nguyễn Văn Đậu <br /> Bình Thạnh, TP. Hồ Chí Minh
          </span>
        </div>
      </div>
      <div class="include-contact-company">
        <h3 id="follow-us">Theo dõi chúng tôi</h3>
        <div class="line-footer2"></div>
        <a
          href="https://www.facebook.com"
          target="_blank"
          aria-label="Facebook"
        >
          <i class="fab fa-facebook-f"></i>https://www.facebook.com
        </a>
        <a href="https://zalo.me" target="_blank" aria-label="Zalo">
          <img
            src="/media/icon/zalowhite.svg"
            alt="Zalo"
            width="30"
            height="30"
          />https://zalo.me
        </a>

        <a
          href="https://www.whatsapp.com"
          target="_blank"
          aria-label="WhatsApp"
        >
          <i class="fab fa-whatsapp"></i>https://www.whatsapp.com
        </a>
        <a href="https://www.youtube.com" target="_blank" aria-label="YouTube">
          <i class="fab fa-youtube"></i>https://www.youtube.com
        </a>
      </div>
    </div>
    <div class="rights-mobile fade-in-section">
      <p>© 2024 YG. All rights reserved.</p>
      <img
        src="/media/icon/timthumb.png"
        alt="thong-bao-cong-thuong"
        loading="lazy"
      />
    </div>
  </div>
</footer>
