<div class="navigation-mobile" id="mynavigation-mobile">
  <li class="mobile-sub">
    <button id="language-toggle" class="language-toggle">
      <span class="language">VI</span> | <span class="language">EN</span>
    </button>
  </li>
  <nav class="navbar">
    <a href="javascript:void(0);" class="icon">&#9776;</a>
    <!-- <div class="logo">MyLogo</div> -->
    <button class="menu-toggle" id="menuToggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
    <ul class="menu" id="menu">
      <li><a href="#slide2">Trang chủ</a></li>
      <li><a href="#slide3">Về chúng tôi</a></li>
      <li><a href="#slide4">Dịch vụ</a></li>
      <li><a href="#slide5">Dự án</a></li>
      <li><a href="#slide6">Khách hàng</a></li>
      <li><a href="#slide7">Liên hệ</a></li>
    </ul>
  </nav>
</div>
