<div class="navigation-mobile" id="mynavigation-mobile">
  <div class="dropdown">
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a
    >
    <div class="dropdown-content">
      <a href="#slide2">Hello</a>
      <a href="#slide3">News</a>
      <a href="#slide4">Contact</a>
      <a href="#slide5">Contact</a>
      <a href="#slide6">Contact</a>
      <a href="#slide7">Contact</a>
    </div>
  </div>
</div>
