<div class="navigation-mobile" id="mynavigation-mobile">
  <li class="mobile-sub">
    <button id="language-toggle" class="language-toggle">
      <span class="language">VI</span> | <span class="language">EN</span>
    </button>
  </li>
  <div class="dropdown" tabindex="0">
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a
    >
    <div class="dropdown-content">
      <a href="#slide2">Trang chủ</a>
      <a href="#slide3">Về chúng tôi</a>
      <a href="#slide4">Dịch vụ</a>
      <a href="#slide5">Dự án</a>
      <a href="#slide6">Khách hàng</a>
      <a href="#slide7">Liên hệ</a>
    </div>
  </div>
</div>
