<div class="slide5-container">
    <h1 class="slide5-title">Dự án</h1>
    <div class="controls">
        <button id="prevBtn" disabled class="circle-btn">&lt;</button>
        <div class="video-container">
            <div class="video previous-video">
              <video src="video-previous.mp4" controls></video>
            </div>
            <div class="video current-video">
              <video src="video-current.mp4" controls autoplay></video>
            </div>
            <div class="video next-video">
              <video src="../media/logo fix 5.mp4" controls></video>
            </div>
         </div>
        <button id="nextBtn" class="circle-btn">&gt;</button>
    </div>
    <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
        nibh euismod Lorem ipsum dolor sit amet</span>
      
  </div>

  