<h1 class="slide-project">Dự án</h1>

<div class="slideshow-container">
  <i class="fa-solid fa-chevron-left"></i>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class=""></div>
      {
        // JSX code to map through the slides
        Array.from({ length: 5 }).map(() => (
          <div class="swiper-slide">
            <video loop class="slideshow-vid" muted>
              <source src="/media/logo-fix-5.mp4" type="video/mp4" />
            </video>
          </div>
        ))
      }
    </div>
  </div>
  <i class="fa-solid fa-chevron-right"></i>
</div>

<span class="slide-span-project">Tell me something you would like to talk</span>

<script src="/src/scripts/project.ts"></script>
<script id="conditional-script"></script>
<!-- //helowworld -->
