<div class="slide4-container fade-in-section">
  <div class="slide4-description">
    <p>
      <span class="line-top">YG cung cấp dịch vụ và tối ưu những yêu cầu</span>
      <span class="line-bottom">
        của khách hàng dựa trên mô hình 4C trong marketing:
      </span>
    </p>
    <!-- <br /> -->
    <strong style="color: #fa8500">
      <span class="line-top">CUSTOMER SOLUTION - CUSTOMER COST</span>
      <span class="line-bottom">CONVENIENCE - COMMUNICATION</span>
    </strong>
    <!-- <br /> -->
    <p>
      <span class="line-top"
        >Giải pháp cho khách hàng - Chi phí khách hàng bỏ ra</span
      >
      <span class="line-bottom"> Sự tiện lợi - Truyền thông </span>
    </p>
  </div>

  <div class="box-container fade-in-section">
    <div class="box">
      <div class="box-i">
        <i class="fas fa-paint-brush"></i>
      </div>
      <h3 class="box-title">DECORATION</h3>
      <p class="box-description">Thi công trang trí</p>
    </div>
    <div class="box">
      <div class="box-i">
        <i class="fas fa-calendar-alt"></i>
      </div>
      <h3 class="box-title">
        Event<br />
        Management
      </h3>
      <p class="box-description">Tổ chức sự kiện</p>
    </div>
    <div class="box">
      <div class="box-i">
        <i class="fas fa-chart-line"></i>
      </div>
      <h3 class="box-title">
        Comercial<br />
        Activities
      </h3>
      <p class="box-description">
        Hoạt động kích hoạt<br />
        thương mại
      </p>
    </div>
    <div class="box">
      <div class="box-i">
        <i class="fas fa-pencil-alt"></i>
      </div>
      <h3 class="box-title">Design</h3>
      <p class="box-description">Tư vấn thiết kế</p>
    </div>
  </div>

  <div class="commitment fade-in-section">
    <p>
      Chúng tôi cam kết mang đến những giải pháp hiệu quả,<br />
      sáng tạo khác biệt dựa trên tinh thần hợp tác, trách nhiệm và giá trị cảm xúc.
    </p>
  </div>
</div>
