<div class="slide4-container">
    <div class="slide4-description">
      <p>
        YG cung cấp dịch vụ và tối ưu những yêu cầu của khách hàng dựa trên mô hình 4C trong marketing:<br>
        <strong style = "color : #fa8500">CUSTOMER SOLUTION - CUSTOMER COST - CONVENIENCE - COMMUNICATION</strong><br>
        Giải pháp cho khách hàng - Chi phí khách hàng bỏ ra - Sự tiện lợi - Truyền thông
      </p>
    </div>
  
    <div class="four-boxes">
      <div class="box">CUSTOMER SOLUTION</div>
      <div class="box">CUSTOMER COST</div>
      <div class="box">CONVENIENCE</div>
      <div class="box">COMMUNICATION</div>
    </div>
  
    <div class="commitment">
      <p>
        Chúng tôi cam kết mang đến những giải pháp hiệu quả,<br>
        sáng tạo khác biệt dựa trên tinh thần hợp tác, trách nhiệm và giá trị cảm xúc.
      </p>
    </div>
  </div>
  