<div class="inside-slide3 fade-in-section">
  <div class="imge">
    <img
      src="/media/icon/banner-turning.jpg"
      style="height:50%;width:50%;left:0;top:0;right:0;bottom:0;color:transparent"
    />
  </div>
  <div class="inside-description-team fade-in-section">
    <h1 class="title-text">Young Generation Agency</h1>
    <p>
      Là đơn vị chuyên cung cấp các dịch vụ tổ chức sự kiện, kích hoạt cho
      thương hiệu, trang trí… Với đội ngũ nhân sự trẻ trung, nhiệt huyết, đầy
      sáng tạo, cùng những người dẫn dắt nhiều kinh nghiệm trong lĩnh vực này.
      Bên cạnh đó, YG không ngừng khẳng định bản sắc riêng, phát huy tư duy đổi
      mới đầy nhiệt huyết của sức trẻ nhằm mang đến những giá trị thật trong
      từng công việc mà chúng tôi thực hiện cho khách hàng.
    </p>
    <p>
      Hãy để YG được đồng hành và cùng tạo ra những giá trị khác biệt thông qua
      việc xây dựng hành trình trải nghiệm đầy cảm hứng sáng tạo từ cảm xúc.
    </p>
  </div>
</div>
